body {
    background-color: #01172c;
    color: white;
}

.hero {
    background: linear-gradient(135deg, #01075e, #00d9ff);
    color: white;
    padding: 80px 0;
}
.titulo {
    text-shadow: #212129 3px 3px 3px;
}

.card {
    transition: 0.3s;
}

.card:hover{
    transform:translateY(-8px);
}