@media print {
    body * {
        visibility: hidden;
    }
    #cupom,
    #cupom * {
        visibility: visible;
    }
    #cupom {
        position: absolute;
        left: 0;
        top: 0;
        width: 80mm;
        font-family: monospace;
        font-size: 12px;
        white-space: pre-wrap;
    }
}